doctype html
html(lang='pt-br')
    head
        meta(http-equiv='Content-Type' content='text/html; charset=utf-8')
        meta(http-equiv='X-UA-Compatible' content='IE=edge')
        meta(name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no')
        meta(name='HandheldFriendly' content='true')
        meta(name='title' content='Rubik Cube')
        meta(name='description' content='Rubik Cube')
        meta(name='keywords' content='rubik, magic, cube')
        meta(name='robots' content='index, follow')
        meta(name='language' content='Portuguese')
        meta(name='revisit-after' content='1 days')
        meta(name='author' content='Roque Ribeiro')
        meta(name='msapplication-TileColor' content='#E5E5E5')
        meta(name='theme-color' content='#E5E5E5')
        title Rubik Cube
        script(src='https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.slim.js')
    body
        nav
            a#randomize.btn.center(href='javascript:void(0);') Randomize
        - var faces = ['left', 'right', 'top', 'bottom', 'back', 'front'], pieces = 26
            #scene.scene
                #pivot.pivot.centered(style = 'transform: rotateX(-35deg) rotateY(-135deg);')
                    #cube.cube
                        while pieces--
                            .piece
                                each face in faces
                                    div(class = 'element ' + face)
            #guide
                - var n = 4
                    while n--
                        div(id = 'anchor' + n class = 'anchor' style = 'transform: translateZ(3px) translateY(-33.33%) rotate(' + (-90 * n) + 'deg) translateY(66.67%)')